<html>
    <head>
        <title>
            @ViewData["titre"]
        </title>
    </head>
    <body>
        <header>Header</header>
        <section>
            @RenderBody()
        </section>
        <footer>Footer</footer>
    </body>
</html>